# Data Loading

In [36]:
# -*- coding: utf-8 -*-
import pandas as pd

a=pd.read_csv('ks-projects-201612.csv',encoding = "ISO-8859-1")
#remove empty columns
a_drop=[i for i in a.columns if 'Unnamed' in i]
a.drop(a_drop,axis=1,inplace=True)
b=pd.read_csv('ks-projects-201801.csv',encoding = "ISO-8859-1")
b.drop(['usd_pledged_real', 'usd_goal_real'],axis=1,inplace=True)
#%%

C:\Users\steve\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
#rename column names
b.columns[0] in a.columns[0]
for c,i in enumerate(a.columns):
    if b.columns[c] in i:
        a.rename(columns={i:b.columns[c]}, errors="raise",inplace=True)
a.columns==b.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [38]:
#concatinate databases
df=pd.concat([a,b]).drop_duplicates()

In [39]:
test=[i in b.ID for i in a.ID ]
print(test.count(True),test.count(False),test.count(True)+test.count(False)==len(a))
len(df)-len(a)-len(b)

58 323692 True

0

In [45]:
a_in_b=[[i,i in b.ID] for i in a.ID]

In [46]:
[i[0] for i in a_in_b if i[1]==True]

[106144,
 113230,
 116600,
 126581,
 138119,
 160274,
 164555,
 182647,
 182943,
 18520,
 188667,
 197154,
 206517,
 207971,
 21109,
 21371,
 223722,
 237090,
 24380,
 246101,
 251057,
 254501,
 255356,
 260964,
 274865,
 277920,
 279511,
 282045,
 301434,
 304055,
 305052,
 312747,
 316217,
 316938,
 325034,
 325906,
 326455,
 335107,
 336169,
 33867,
 342881,
 351952,
 368661,
 375531,
 375871,
 377067,
 378038,
 39036,
 39409,
 46588,
 50831,
 52687,
 53154,
 56833,
 5971,
 62304,
 75626,
 92158]

In [40]:
len(df),len(a),len(b)

(702411, 323750, 378661)

In [34]:
for i in range(len(a)):
    if a.iloc[i][0] in b.ID.values:
    
print(i)

323749

In [51]:
b[b.ID==a.iloc[i][0]]
a.iloc[i][0] in b.ID.values
a.columns
#b[b.ID==a.iloc[i][0]]==a[a.ID==a.iloc[i][0]]

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged '],
      dtype='object')

10.954451150103322